@import "normalize.css";

/* import UNIVERSAL STYLES */
@import "./src/css/foundation/common.css";

/* import FRAMES */
@import "./src/css/frames/header/header.css";
@import "./src/css/frames/main/main.css";
@import "./src/css/frames/main/main-left/main-left.css";
@import "./src/css/frames/main/main-middle/main-middle.css";
@import "./src/css/frames/main/main-right/main-right.css";
@import "./src/css/frames/main/main-middle/main-middle-post-input.css";
@import "./src/css/frames/main/main-middle/comment.css";

/* import COMPONENTS */
@import "./src/css/components/button.css";
@import "./src/css/components/profile.css";
@import "./src/css/components/search.css";
@import "./src/css/components/cards.css";
@import "./src/css/components/post.css";
@import "./src/css/components/highline.css";
@import "./src/css/components/message-list.css";
@import "./src/css/components/request.css";

/* import MEDIA */
@import "./src/css/media/media.css";

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-family: var(--font-family-actor);
  background-color: var(--color-white);
  color: var(--color-main-text);
}

footer {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
