.search-bar {
  text-align: center;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-white);
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.search-bar:hover {
  border: var(--color-main-text) 1px solid;
}

.header__search-bar {
  gap: 1.5%;
  padding-left: 1.5%;
  width: clamp(30%, 40vw, 50%);
  height: clamp(20px, 3.5vh, 50px);
}

.message__search-bar {
  gap: 2.5%;
  padding-left: 5%;
  width: 100%;
  height: clamp(20px, 4vh, 50px);
}

.post-input__search-bar {
  gap: 1.5%;
  padding-left: 1.5%;
  width: 100%;
  height: clamp(20px, 4vh, 50px);
  background-color: var(--color-card-background-color);
}

.search-bar i {
  font-size: 0.8rem;
  color: var(--color-main-text);
  margin-right: 1%;
}

.search-bar input {
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  flex-grow: 1;
  border-radius: 20px;
  color: var(--color-main-text);
  font-size: 1rem;
}

.search-bar input[type="search"]::placeholder {
  font-size: 0.75rem;
  color: var(--color-main-text);
  font-style: italic;
  font-family: var(--font-family-lato);
}
