@media only screen and (width <= 450px) {
  .header__search-bar {
    gap: 2%;
    padding-left: 2%;
    width: clamp(30%, 35vw, 50%);
  }

  .button-primary {
    width: clamp(60px, 9vw, 100px);
  }
}

@media only screen and (width <= 1024px) {
  .bar {
    display: flex;
  }

  .main {
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
  }

  .main-left {
    display: none;
  }

  .main-right {
    display: none;
  }
}

@media only screen and (width >= 1025px) and (width <= 2048px) {
  .main {
    width: 80vw;
  }
}
