.main-left {
  grid-column: 1/2;
  padding: 3%;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.main-left__profile {
  display: flex;
  gap: 3%;
  align-items: center;
}

.main-left__profile a {
  display: inline-flex;
}

.main-left__information {
  font-size: 0.8rem;
}

.main-left__information .name {
  font-weight: bold;
}

.main-left .navbar {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  padding-left: 8%;
}

.navbar a i {
  margin-right: 6%;
}
