.card {
  padding: 5%;
  background-color: var(--color-card-background-color);
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 4px 8px rgb(0 0 0/ 10%), 0 6px 20px rgb(0 0 0 / 10%);
}

.main-left-card {
  padding: 5%;
}

.posts-card {
  padding: 2%;
}

.message-card {
  padding: 2% 3% 7%;
}

.card-touch-shadow {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* 阴影效果 */
}
