.profile {
  width: clamp(30px, 4vh, 50px);
  height: clamp(30px, 4vh, 50px);
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--color-primary);
}

.highline__profile {
  width: clamp(17px, 2.5vh, 35px);
  height: clamp(17px, 2.5vh, 35px);
}

.post-input__profile {
  width: clamp(17px, 3vh, 35px);
  height: clamp(17px, 3vh, 35px);
}

.comment-profile {
  width: clamp(10px, 1.5vh, 35px);
  height: clamp(10px, 1.5vh, 35px);
}
