.main-left {
  grid-column: 1/2;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  gap: 3%;
  position: sticky;
  top: 4.9%;
  height: 88vh;
}

.main-left__profile {
  display: flex;
  gap: 3%;
  align-items: center;
}

.main-left__profile a {
  display: inline-flex;
}

.main-left__information {
  font-size: 0.8rem;
}

.main-left__information .name {
  font-weight: bold;
}

.main-left__information .account {
  color: var(--color-card-background-color);
  filter: brightness(0.6);
}

.main-left .navbar {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}

.main-left .navbar a:hover {
  background-color: var(--color-white);
  border-radius: 10px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.navbar a {
  padding: 4.5%;
  font-weight: bold;
}

.navbar a i {
  margin-right: 6%;
}
